<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" href="/tabs/events">
      <ion-icon aria-hidden="true" name="basketball-outline"></ion-icon>
      <ion-label>All Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="distances" href="/tabs/distances">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Distances</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
