// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --neutral-11: #FFFFFF;
    --primary-01: #007BC3;
    --primary-01-01: #00629c;
   
  }